.ce-result-item {
  background: #f8f8f8;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  color: $color-grey-dark;
  cursor: pointer;
  &:hover {
    background-color: #dddddd;
  }
  &__title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  &__description {
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  &__types {
    text-transform: capitalize;
    color: #ff7c09;
    font-style: italic;
    font-size: small;
    margin: 1.2rem 0;
  }
  // > :last-child {
  //   padding-bottom: 2.4rem;
  //   border-bottom: 0.1rem solid #ccc;
  //   margin-bottom: 1.8rem;
  // }
  &__link {
    font-size: 1.6rem;

    a {
      text-decoration: none;
      color: $color-primary;
    }
  }
  &__upvotes-count {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: $color-primary;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition: all 0.2s;
    &:hover {
      background: $color-primary-light;
      .ce-tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__upvotes-icon {
    padding-right: 0.6rem;
  }
}
