.ce-result-item {
  &__title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  &__description {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  &__link {
    font-size: 1.6rem;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: 1.8rem;
    a {
      text-decoration: none;
      color: $color-primary;
    }
  }
}
